#custom-color {
    color: #ea13b6;
}


div.container-fluid {
    background-color: #4853e4;
}


body {
    background: rgb(7,0,209);
    background: radial-gradient(circle, rgba(7,0,209,1) 58%, rgba(252,70,107,1) 100%); 
    
}
.dropdown {
    display: flex;
    justify-content:right;
}

.input-group {
    justify-content: center;
    padding-top: 75px;
}
.mb-4 {
    justify-content: center;
    padding-top: 25px;
}

.btn-success-mx-auto {
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}
