#custom-color {
    color: #ea13b6;
}

#navbar-color {
background-color: #4853e4;
}

.btn-profil {
    background-color: #ea13b6;
}

.body-color {
    background: rgb(7,0,209);
    background: radial-gradient(circle, rgba(7,0,209,1) 58%, rgba(252,70,107,1) 100%); 
}

.container-form {
    max-width: 400px; 
    margin: auto; 
    margin-top: 60px;
    padding: 20px; 
    border: 1px solid #ddd;
    border-radius: 5%;
    opacity: 80%;
    background: rgb(195,34,164);
    background: linear-gradient(0deg, rgba(195,34,164,1) 0%, rgba(12,201,30,1) 100%);
}

#text-color {
    text-decoration: #ddd;
}