html,
body {
    height: 100%;
    margin: 0; /* Supprime les marges par défaut du body */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    padding-top: 72px; 
    background-color: #1c1c1e;
}

.group:hover .overlay {
    opacity: 1;
}

.no-text-select {
    cursor: default;
}

.sidebar {
    background-color: #1c1c1e;
    min-height: 100vh;
}

.genre-button {
    width: 100%;
    color: white;
    transition: background-color 0.3s;
}

.genre-button:hover {
    background-color: black;
}

/* Container for the movie details */
.movie-detail {
    display: flex;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Left side containing the image, title, rating, and genre */
.movie-detail .left-side {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
}

.movie-detail img {
    width: 100%;
    max-width: 300px; /* Augmente la taille de l'image */
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}

.movie-detail h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}

.movie-detail .rating {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.movie-detail .genre {
    font-size: 1rem;
    color: #d1d5db;
    margin-bottom: 20px;
}

/* Right side containing the description */
.movie-detail .right-side {
    flex: 1;
    max-width: 50%;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
}

#page-numbers button {
    @apply p-2 text-sm bg-gray-200 rounded-lg;
}
  
  #page-numbers button:hover {
    @apply bg-gray-300;
}
  
  #page-numbers button.bg-blue-500 {
    @apply bg-blue-500 text-white;
}

  .flex-1 {
    flex: 1;
}