
    .group:hover .overlay {
      opacity: 1;
    }

    .color-class {
      background-color: #4853e4;
    }

    html,
    body {
      height: 100%;
    }

    body {
      padding-top: 72px;
      display: flex;
      flex-direction: column;
    }

    .no-text-select {
      cursor: default;
    }

    .sidebar {
      background-color: #1c1c1e;
      min-height: 100vh;
    }

    .genre-button {
      width: 100%;
      color: white;
      transition: background-color 0.3s;
    }

    .genre-button:hover {
      background-color: #0056b3;
    }
    